*checkpoint.ipynb
*egg-info
__pycache__
*pkl
*bbl
*blg
*aux
*log
*converted-to.pdf
*vim
*swp
*orig

scratch*ipynb

*bak

old
src
OpenBLAS
data

c-elegans*

docs/_build/
docs/_static/
docs/_templates/
_build
_static
_templates

