# Resort to this option (PEP 517 has no support for direct installs from source),
# this is to avoid `ERROR: Failed building wheel for rpbp`.
--no-binary :all:

# Pin version of the pbio package and related dependencies:
git+https://github.com/dieterich-lab/pybio-utils.git@1.0.0#egg=pbio
# for dev branch
# git+https://github.com/dieterich-lab/pybio-utils.git@dev#egg=pbio
