# Pin versions of following dependencies:
numpy>=1.16,<1.17
scipy==1.2.1 # Statsmodels 0.9/Scipy 1.3.0 incompatibility
statsmodels==0.9.0
pandas==0.24.0
pystan==2.19.0.0
joblib==0.13.2
biopython==1.73
pysam==0.15.2 # with Samtools-1.7
pyyaml==5.4

# Pin version of the pbio package and related dependencies:
git+https://github.com/dieterich-lab/pybio-utils.git@1.0.0#egg=pbio
# for dev branch
# git+https://github.com/dieterich-lab/pybio-utils.git@dev#egg=pbio

# Do not use [--no-binary :all:], installation will fail.
# Ignore `ERROR: Failed building wheel for rpbp`,
# pip falls back to installing directly (see also PEP 517).

