body {
  background-color:#EDEFEB;
  font-family: "Open Sans", verdana, arial, sans-serif;
}

.side_bar {
  height: 100%;
  width: 14%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #73a5c8;
  padding-left: 1%;
  padding-right: 1%;
  color:rgb(7, 7, 7);
}

.main {
  font-size: 15px; 
  padding: 0px 10px;
  padding-left: 16%;
  color:#363535;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #73a5c8;
  padding-left: 1%;
}

h1 {
  color:#EDEFEB;
  font-family: ui-monospace;
}

h3 {
  margin-block-start:0.3em;
  font-size: smaller;
}

h4 {
  margin-block-end:0.3em;
  font-size: smaller;
}

.text{
  margin: 10px;
  padding: 25px;
  align-self: center;
}

.row{
  display: flex;
}

/* Boxes */

.box {
  border-radius: 20px;
  background-color: #F9F9F8;
  margin: 10px;
  padding: 25px;
  box-shadow: 2px 2px 2px lightgrey;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Drop down */

#drop_available_samples .VirtualizedSelectFocusedOption {
  background-color:#73a5c8;
}

#drop_unique .VirtualizedSelectFocusedOption {
  background-color:#73a5c8;
}


/* Tabs */
.control-tabs {
    width: 100%;
    height: 250px;
    margin: 50px;
    margin-right: 0px;
    font-size: 10pt;
    float: left;
    background-color: #73a5c8; /* Change in individual app stylesheet */
}

.control-tabs .tab-content {
    display: inline-block;
    padding: 20px;
}

.control-tab {
    height: 400px;
    overflow-y: auto;
    padding-right: 20px;
    margin: 20px;
    margin-right: 0px;
    background-color: #F9F9F8; /* Change in individual app stylesheet */
}

.control-tabs .tab {
    font-weight: 200;
    font-size: 10pt;
    height: 50px;
    padding: 15px;
    background-color: #F9F9F8; /* Change in individual app stylesheet */
    border: solid 1px #73a5c8; /* Change in individual app stylesheet */
}

.control-tabs .tab--selected {
    font-weight: bolder;
    border: none;
    border-top: solid 2px;
    color: #73a5c8; /* Change in individual app stylesheet */
}


.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #f9f9f9;
    padding: 0px 24px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color:#586069;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #fafbfc;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important;
}





/* Core CSS
 * Taken from https://github.com/adazzle/react-data-grid/blob/75d1348134ea073ca04a5e634863cd5be062fcdf/themes/react-data-grid-core.css
 */
/*.react-grid-Main {
  background-color: #ffffff;
  color: inherit;
  padding: 0px;
  outline: 1px solid #e7eaec;
}

.react-grid-Grid {
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.react-grid-Canvas {
  background-color: #ffffff;
}*/

/* Cell CSS
 * Taken from https://github.com/adazzle/react-data-grid/blob/75d1348134ea073ca04a5e634863cd5be062fcdf/themes/react-data-grid-cell.css
 */

/*.react-grid-Cell {
  background-color: green;
  padding-left: 8px;
  padding-right: 8px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #dddddd;
}*/

/* Header CSS
 * Taken from https://github.com/adazzle/react-data-grid/blob/75d1348134ea073ca04a5e634863cd5be062fcdf/themes/react-data-grid-header.css
 */

/* .react-grid-Header {
   box-shadow: 0px 0px 4px 0px #dddddd;
   background: #f9f9f9;
 }*/

/* .react-grid-HeaderCell {
  background: #f9f9f9;
  padding: 8px;
  font-weight: bold;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}*/

/* Row CSS
 * Taken from https://github.com/adazzle/react-data-grid/blob/75d1348134ea073ca04a5e634863cd5be062fcdf/themes/react-data-grid-row.css
 */
/*.react-grid-Row:hover .react-grid-Cell,
.react-grid-Row.row-context-menu .react-grid-Cell {
  background-color: #f9f9f9;
}

.react-grid-Row.row-selected{
 background-color: #DBECFA;
}

.react-grid-Row .row-selected{
 background-color: #DBECFA;
}*/

/* Toolbar CSS
 * Taken from https://github.com/adazzle/react-data-grid/blob/75d1348134ea073ca04a5e634863cd5be062fcdf/themes/react-data-grid-toolbar.css
 */
/*.react-grid-Toolbar {
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px 1px 1px;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  height: 48px;
}
.react-grid-Toolbar .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}
.react-grid-Toolbar .btn:hover {
  color: inherit;
  border: 1px solid #d2d2d2;
}*/




/* ---------------------------------------
 * Datatable
 */

/* fixes margins so data isn't cut off at table edges */
.dbc .dash-table-container .row {
  display: block !important;
  margin: 0;
}

/* fixes  when the table dropdown doesn't drop down */
.dbc .Select-menu-outer {
  display: block !important;
}

.dash-table-container .dropdown {
  position: static;
}

/*
 *  sort arrow and delete icons in the DataTable header - changes pink color
 *  these icons appear when the table is sortable and/or columns are deletable
 */
.dbc .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
  --accent: var(--bs-primary) !important;
  --hover: none !important;
  font-family: var(--bs-font-sans-serif);
}

.dbc input.dash-filter--case--sensitive {
  border-color: var(--bs-primary) !important;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  color: var(--bs-primary) !important;
}

/* pagination buttons - this removes the default pink hover */
.dbc .last-page:hover,
.previous-page:hover,
.first-page:hover,
.next-page:hover {
  color: var(--bs-primary) !important;
}


/* table details */
body .dbc .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  border-color: rgba(100, 100, 100, 0.4) !important;
}

/* on hover highlight entire row
.dash-spreadsheet tr:hover td.dash-cell {
            border-color: rgba(100, 100, 100, 0.4) !important;
            border-width: 0.5px !important;
            background-color: rgba(var(--bs-primary-rgb), 0.2) !important;

         }
*/

/* table header */
body .dbc .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  border-color: rgba(100, 100, 100, 0.4) !important;
}


/* filter row in the header */
.dbc .dash-spreadsheet .dash-filter {
  font-family: var(--bs-font-family-sans-serif);
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  --border: var(--bs-gray);
}

/* tooltips  */
.dbc .dash-table-tooltip {
  background-color: var(--bs-gray-500) !important;
  color: var(--bs-body-color);
  width: fit-content;
  /* max and min width are both set to 300px in the dash stylesheet. Override them with your own definitions. */
  max-width: 300px;
  min-width: unset;
}

/* pagination */
.dbc .dash-table-container .previous-next-container .page-number .current-page-container .current-page-shadow {
  background-color: transparent;
  color: var(--bs-body-color) !important;
}

.dbc .dash-table-container .previous-next-container .page-number .current-page-container input.current-page {
  background-color: transparent;
}

.dbc .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
  border-collapse: inherit;
  border-spacing: unset;
}

/* active cell */
.dbc .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td.focused {
  background-color: rgba(var(--bs-primary-rgb), 0.2) !important;
  outline: 1px solid var(--bs-primary);
}

/* active cell when cell is  editable */
.dbc .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner input:not([type=radio]):not([type=checkbox]) {
  background-color: transparent !important;
}

/* selected cells */
.dbc .dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td.cell--selected {
  background-color: rgba(var(--bs-primary-rgb), 0.2) !important;
}

/*  dropdown inside datatable */
.dbc .dash-table-container .dash-spreadsheet .Select-menu-outer {
  background-color: var(--bs-gray-500);
  border-color: rgba(100, 100, 100, 0.4)
}

.dbc .dash-table-container .dash-spreadsheet .Select-option:hover {
  background-color: rgba(var(--bs-gray-500), .4);
}

.dbc .dash-table-container .dash-spreadsheet .Select-option {
  background-color: rgba(var(--bs-gray-500), .4);
}
